<!DOCTYPE html>
<html>
    <head>
        <title>Cadastro Usuário</title>
        <meta charset="utf-8">
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/cadastro.css" rel="stylesheet">
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">           
            <div class="container">
                <div>
                    <ul class="nav navbar-nav">
                        <li><img src="reviewnstore.jpeg" alt="Smiley face" height="70" width="70"></li>
                        <li><a href="tela_inicial.html">Tela inicial </a></li>
                        <li><a href="cadastro_formulario.html">Adicionar Usuario </a></li>
                        <li><a href="cadastro_formulario.html">Adiciona review </a></li>
                        <li><a href="cadastro_formulario.html">Adiciona produto </a></li>
                        <input class="posicaobusca" type="text" id="txtBusca" placeholder="Buscar..."/>
                        <button class="btn btn-link:focus" type="submit"/>Buscar</button>
                    </ul>    
                </div>
            </div>    
        </div> 
        <main>
            <div class="container">    
                <div class="principal">
                        <center>
                        <table>
                            <form action="loginUsuario" method="post" name="form1">
                            <tr>
                               <td>
                               <img src="reviewnstore.jpeg" alt="Smiley face" height="150" width="150">
                               <br>
                                <button class="btn btn-primary"  type="submit"/>Cadastrar</button>
                                <button class="btn btn-primary" type="Login"/>Login</button>
                               </td>    
                           </tr>
                           </form>
                       </table>
                       </center>
                </div>    
            </div>
        </main>
    </body>
</html>