<!DOCTYPE html>
<html>
    <head>
        <title>Usuário cadastrado</title>
        <meta charset="utf-8">
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/cadastro.css" rel="stylesheet">
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top">           
            <div class="container">
                <div>
                    <ul class="nav navbar-nav">
                        <li><a href="tela_inicial.html">Tela inicial </a></li>
                        <li><a href="cadastro_formulario.html">Adiciona produto </a></li>
                    </ul>    
                </div>
            </div>    
        </div> 
        <div class="container">    
            <div class="principal">
                </br>
                <h1>Resultado da Inclusao</h1>
                </br>
                <h2>Mensagem: {MSG}</h2>
                <br/>      
            </div>    
        </div>
    </body>
</html>
